.jumbotron {
    background-image: url("/assets/img/frente_banner.png");
    background-size: cover;
    background-position: center;
}
.footer-pagina{
    text-align: center;
}
.contenedor-titulo{
    text-align: center;
}

.centrar-contenido{
    text-align: center;
}

.mas-margenes{
    padding:10px;
}
.garamond{
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
.grande{
    font-size:1.5em;
}
.bold{
    font-weight: 800;
}

.nav-cambiante{
    background-color:#fffef971;
    transition: ease .5s;
    border-bottom:#00000000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.marca-cambiante{
    transition: ease .5s;
    overflow: hidden;
    opacity: 0;
}

article img {
    max-width: 100%;
}