<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="/assets/css/mi-bootstrap.css">

        <link rel="stylesheet" href="/assets/css/index.css">
        <title>Parroquia San José - Villa Domínico</title>
        <meta name="description" content="Sitio web de la parroquia San José, ubicada en Villa Domínico, diócesis de Avellaneda - Lanús. Acceda al sitio para ver los horarios de misa, el calendario de este mes y las distintas actividades y apostolados que ofrece la parroquia. Patriarca San José, Ruega por nosotros.">

        <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "LocalBusiness",
              "@id": "http://sanjosedominico.com.ar",
              "name": "Parroquia San José",
              "address": {
                "@type": "PostalAddress",
                "streetAddress": "Coronel Brandsen 4970",
                "addressLocality": "Villa Domínico",
                "addressRegion": "Buenos Aires",
                "postalCode": "1874",
                "addressCountry": "AR"
              },
              "image":[
                "http://sanjosedominico.com.ar/img/frente_lateral_parroquia_san_jose",
                "http://sanjosedominico.com.ar/img/frente_frontal_parroquia_san_jose",
                "http://sanjosedominico.com.ar/img/imagen_san_jose",
                "http://sanjosedominico.com.ar/img/interior_parroquia_san_jose"
              ],
              "geo": {
                "@type": "GeoCoordinates",
                "latitude": -34.695419, 
                "longitude": -58.331174
              },
              "url": "http://sanjosedominico.com.ar/",
              "telephone": "+5401142077470",

              "openingHoursSpecification": [
                {
                  "@type": "OpeningHoursSpecification",
                  "dayOfWeek": [
                    "Tuesday",
                    "Thursday",
                    "Friday",
                    "Saturday",
                    "Sunday"
                  ],
                  "opens": "19:00",
                  "closes": "20:00"
                },
                {
                  "@type": "OpeningHoursSpecification",
                  "dayOfWeek": [
                    "Sunday"
                  ],
                  "opens": "10:00",
                  "closes": "11:00"
                }
              ]
            }
            </script>

    </head>
    <body>
        <header class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3 text-center">Parroquia<br class="w-100 d-lg-none" /> <span class="garamond bold">San José</span></h1>
                <p class="lead text-center"><b><adress>Cnel. Brandsen 4970 - Villa Domínico - Diócesis Avellaneda-Lanús</adress></b></p>
            </div>
        </header>
        <div class="container">
            {{ content }}
            <hr>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <footer class="footer-pagina">
            <address>
                <i>4207-7470</i>
                <span> - </span>
                Cnel. Brandsen 4970 - Villa Domínico - Avellaneda
            </address>
        </footer>
        <br>
    </body>
</html>

