* {
    -webkit-box-sizing: border-box; /* Safari 3.1+ */
    -moz-box-sizing: border-box; /* Firefox 2+ */
    -ms-box-sizing: border-box;; /* IE 10+ */
    box-sizing: border-box; /* Standard syntax */
    
    font-size: 20px;
    
    /* border: 1px solid red; */

    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
}


html { height: 100%; }

body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row-reverse;
    
    align-items: flex-start;
    justify-content: space-between;

    overflow-y: scroll;

    margin: 0;
    background-image: url("https://1.bp.blogspot.com/-mY8fBxkzZ6s/WT9dopryxsI/AAAAAAAABMs/semrmB9-UFcsbO4iVSB_2KzVAdcJzvCkwCLcB/s1600/07%2B-%2BIGLESIA%2BDE%2BLORETO%252C%2B08-VI-2017.jpg");
}

a, .no-seleccionable {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */

    text-decoration: none;
}

a:hover{ cursor: pointer; }

#logo {
    flex-grow: 0;
    font-size: calc(4.5vw);
    padding: 10px;
    z-index: 1;
    position: fixed;
    background-color: white;
}

#hamburger { position: fixed; z-index: -1; }

#header {
    position: fixed;
    width: 30%;
    height: 9.2vh;
    min-height: 50px;
    
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background:white;
    min-width: 320px;
}

#header > nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    height: 9.2vh;
    min-height: 55px;
    margin: 0;
    min-width: 320px;
}

nav > a { 
    color: #888; 
    vertical-align: middle;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
}
nav > a:hover { border-bottom: 3px solid #888; border-top: 3px solid rgba(0,0,0,0);  }

nav > a:first-child{
    border-bottom: 3px solid #000;
    border-top: 3px solid rgba(0,0,0,0);
    color: #000;
}

#container {
    height: 100%;
    width: 30%;
    min-width: 320px;
    margin-left:5vw;
    margin-right:5vw;

    position: relative;
    display: flex;
    flex-direction: column;
}

.arcos-svg {
    top: 9.2vh;
    width: 30%;
    min-width: 320px;
    position: fixed;
    z-index: 1;
}

#avisos {
    width: 80%;
    height: 100vh;
    margin-left: 10%;
    border-radius: 10px;
    min-width: 256px;


    position: absolute;
    top: 30vh;
    z-index: -1;
    
    background-color: whitesmoke;
}

#menu-exterior {
    z-index: 10;
    width: 60vw;
    height: 90vh;
    position: fixed;
    right: -60vw;
    top: 10vh;
    background-color: #EEE;
    transition: transform .1s linear;
    border-left: 2px solid #DDD;
}


@media screen and (max-height: 460px) {
    .arcos-svg { top: 42px; }
}

@media screen and (max-width: 800px) { #logo { font-size: 4vw; } }

@media screen and (max-width:710px) {
    body { flex-direction: column; align-items: center;}
    #logo { font-size: 27.5px; height: 10vh; min-width: 320px;}
    #container { top: 9.2vh; }
    .arcos-svg { top: 17.5vh; }
}

@media screen and (max-width: 500px) {
    body { flex-direction: column; }

    #container { position: static; top: 0; width: 100%; margin: 0;}

    #header {
        visibility: hidden;
        position: fixed;
        z-index: 8;
        width: 100%; 
        margin-left: 0; 
        top: 10vh;
    }

    #logo { 
        display: flex;
        z-index: 7;
        width: 100%;
        padding:0;
        align-items: center;
        text-align: center;
        font-size: 25px; 
        position: fixed; 
        height: 10vh; 
        top: 0; 
    }

    #hamburger {
        width: 10vh;
        height: 10vh;
        z-index: 9;
        position: fixed;
        right: 0;
        top: 0;
    }

    .arcos-svg { 
        position: fixed;
        top: 7vh;
        width: 100%; 
    }

    #avisos { position: static; height: 200vh ; margin-top: 70vh; }

    #hamburger { z-index: 10; }
}

@media screen and (max-width: 360px) {
    #logo { font-size: calc(8vw - 1vh + 2px); }
}