* {/*
    
    -webkit-box-sizing: border-box; //* Safari 3.1+
    -moz-box-sizing: border-box; //* Firefox 2+
    -ms-box-sizing: border-box; //* IE 10+
    box-sizing: border-box; //* Standard syntax
    */
    
    font-size: 20px;
    
    // border: 1px solid red; 

    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
}

@apilados:~"(max-width:710px)";
@ensanguchados:~"(max-width: 500px)";
@arcosChicos:~"(max-height: 460px)";
@logoChico:~"(max-width: 360px)";



//--- TAMAÑO TOTAL ---//
html, body { 
    height: 100%; 
    width: 100%;
    margin: 0;
}

body {
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media @apilados{
        flex-direction: column; 
        align-items: center;
    }
    */
    
    background-image: url("https://1.bp.blogspot.com/-mY8fBxkzZ6s/WT9dopryxsI/AAAAAAAABMs/semrmB9-UFcsbO4iVSB_2KzVAdcJzvCkwCLcB/s1600/07%2B-%2BIGLESIA%2BDE%2BLORETO%252C%2B08-VI-2017.jpg");
    background-attachment: fixed;

    @xLogo:5vw;
    @anchoLogo:40vw;
    @espacoLogoContenido:15vw;
    @anchoContenido:30vw;
    //sobra:10vw

    @altoLogoApliado:10vh;
    @altoNavegacion:9.2vh;

    @espacioComienzoNormal:20vh;
    @espacionComienzoApilado:70vw;

    #logo {
        position:fixed;
        left:@xLogo;
        width:@anchoLogo;

        font-size: 4.5vw;
        @media (max-width: 800px) {
            font-size: 4vw;
        }

        padding: 10px;
        z-index: 1;
        background-color: white;
        

        @media @apilados { 
            font-size: 27.5px; 
            height: @altoLogoApliado; 
            min-width: 320px;
            left:0;
            width:100%;
        }

        @media @ensanguchados { 
            display: flex;
            z-index: 7;
            width: 100%;
            padding:0;
            align-items: center;
            text-align: center;
            font-size: 25px; 
            position: fixed; 
            height: @altoLogoApliado; 
            top: 0; 
        }

        @media @logoChico {
            font-size: calc(8vw - 1vh + 2px);
        }

        #hamburger { 
            position: fixed; 
            visibility: hidden; 
            display:flex;
            justify-content: space-around;
            align-items: center;

            @media @ensanguchados {
                width: @altoLogoApliado;
                height: @altoLogoApliado;
                z-index: 9;
                position: fixed;
                right: 0;
                top: 0;
                visibility: visible;
            }
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }
        #menu-exterior {
            z-index: 10;
            width: 60vw;
            height: 90vh;
            position: fixed;
            right: -60vw;
            top: 10vh;
            background-color: #EEE;
            transition: transform .1s linear;
            border-left: 2px solid #DDD;
        }
    }

    #container {

        
        height: 100%;
        min-width: 320px;//ESTO ES UNA SUMA DE VARIABLES
    
        position: absolute;

        left:@xLogo+@anchoLogo+@espacoLogoContenido;
        width:@anchoContenido;

        display: flex;
        flex-direction: column;

        @media @ensanguchados {
            position: static; 
            top: 0; 
            width: 100%; 
            margin: 0;
        }
        @media @apilados{
            //top: 9.2vh; //esto rompe todo??
            left:0;
            width:100%;
        }
        #header {
            background:white;
            position: fixed;
            z-index: 3;
            width:inherit;
            min-width:inherit;

            @media @apilados{
                top: @altoLogoApliado;
            }

            @media @ensanguchados {
                visibility: hidden;
                position: fixed;
                z-index: 8;
                width: 100%; 
                margin-left: 0;
            }

            nav {
                display: flex;
                justify-content: space-around;
                height: @altoNavegacion;//LA VARIABLE DE ARRIBA
                min-height: 55px;//LA VARIABLE DE ARRIBA
                margin: 0;
                min-width: 320px;//LA VARIABLE DE ARRIBA

                a { 
                    color: #888; 

                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    align-content: center;
                    
                    justify-items: center;

                    &:hover { 
                        border-bottom: 3px solid #888; 
                        border-top: 3px solid rgba(0,0,0,0);
                    }

                    &:first-child{
                        border-bottom: 3px solid #000;
                        border-top: 3px solid rgba(0,0,0,0);
                        color: #000;
                    }
                }
            }
        }

        #filler{
            .arcos-svg {
                top: @altoNavegacion;
                width: @anchoContenido;//LA VARIABLE DE ARRIBA
                min-width: 320px;//LA VARIABLE DE ARRIBA
                position: fixed;
                z-index: 1;
                @media @apilados {
                    top: @altoNavegacion+@altoLogoApliado;//17.5vh; 
                    width:100%;
                }
                @media @ensanguchados { 
                    position: fixed;
                    top: @altoLogoApliado;//7vh;
                    width: 100%; 
                }
            }

            #espacioBlanco {
                position:fixed;
                background-color:white;
                top: @altoNavegacion;
                width: @anchoContenido;
                height:@anchoContenido*0.08;
                min-width: 320px;

                @media @apilados {
                    top: @altoNavegacion+@altoLogoApliado;//17.5vh; 
                    width:100%;
                    height:8vw;
                }
                @media @ensanguchados { 
                    position: fixed;
                    top: @altoLogoApliado;//7vh;
                    width: 100%; 
                    height:8vw;
                }
            }

            #espacioBlancoAtras {
                position:fixed;
                background-color:white;
                top: @altoNavegacion;
                width: @anchoContenido;
                min-width: 320px;
                height:@anchoContenido*0.12;
                z-index:-4;

                @media @apilados {
                    top: @altoNavegacion+@altoLogoApliado;//17.5vh; 
                    width:100vw;
                    height:12vw;
                }
                @media @ensanguchados { 
                    position: fixed;
                    top: @altoLogoApliado;//7vh;
                    width: 100vw; 
                    height:12vw;
                }
            }

            #avisos {
                //--- POSICIONAMIENTO ---//
                width: 80%;
                margin-left: 10%;
                position: absolute;
                top: @altoNavegacion+@espacioComienzoNormal;//LA VERIABLE DE ARRIBA + un poco más
                z-index: -1;

                height: 100vh;//ESTIRA ARTIFICIALMENTE
                
                //--- ESTETICA---//
                border-radius: 10px;
                min-width: 256px;
                background-color: whitesmoke;

                box-shadow: 0 0 15px 8px rgba(4,4,4,0.6);

                @media @apilados {
                    top:@altoNavegacion+@altoLogoApliado+@espacionComienzoApilado;
                }

                @media @ensanguchados {
                    //position: static; 
                    //height: 200vh ; 
                    top:@altoLogoApliado+@espacionComienzoApilado;
                }
            }

        }

        
    }
}

a, .no-seleccionable {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */

    text-decoration: none;
}

a:hover{ cursor: pointer; }